@import "../@global/global.scss";

#stage {
  #main {
    display: flex;
    justify-content: center;

    #loading {
      padding-top: 200px;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #232323;
      z-index: 6;
    }

    #game {
      display: flex;
      flex-direction: column;
      width: 1000px;
      height: 600px;
      margin-top: 20px;

      #intro {
        position: fixed;
        z-index: 5;
        transition: opacity 2s;

        .image {
          width: 1000px;
          height: 600px;
        }

        .version {
          position: absolute;
          top: 4px;
          left: 4px;
          font-size: 13px;
          text-shadow: 0px 0px 3px #000000;
        }

        .text {
          position: absolute;
          top: 360px;
          left: 0px;
          width: 100%;
          font-size: 15px;
          text-align: center;
          text-shadow: 0px 0px 3px #000000;
        }
      }

      #box-grid {
        display: grid;
        grid-template-rows: 37fr 20fr;
        width: 100%;
        height: 100%;
        z-index: 2;

        .lobby {
          display: grid;
          grid-template-columns: 1fr 4fr;
        }
      }
    }
  }
}

.top-menu {
  float: left;
  width: 100%;
  height: 30px;

  button {
    position: relative;
    float: left;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 98px;
    height: 20px;

    &:hover {
      margin-top: -5px;
      height: 25px;
    }

    .badge {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -5px;
      right: -5px;
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 50%;
      color: white;
      z-index: 1;
    }
  }

  .menu {
    &-help {
      background-color: rgb(187, 187, 187);
    }
    &-settings {
      background-color: rgb(204, 204, 204);
    }
    &-community {
      background-color: rgb(218, 169, 255);
    }
    &-leader {
      background-color: rgb(70, 232, 91);
    }
    &-spectate {
      background-color: rgb(209, 157, 255);
    }
    &-roomSettings {
      background-color: rgb(176, 210, 243);
    }
    &-createRoom {
      background-color: rgb(142, 192, 243);
    }
    &-searchRoom {
      background-color: rgb(176, 210, 243);
    }
    &-shop {
      background-color: rgb(179, 231, 183);
    }
    &-dict {
      background-color: rgb(115, 208, 122);
    }
    &-invite {
      background-color: rgb(159, 230, 105);
    }
    &-practice {
      background-color: rgb(252, 245, 169);
    }
    &-ready {
      background-color: #ffc67f;
    }
    &-start {
      background-color: rgb(255, 181, 118);
    }
    &-leave {
      background-color: #ffadad;
    }
    &-replay {
      background-color: rgb(217, 255, 130);
    }

    &-toggled {
      margin-top: 5px;
      height: 20px;
      color: #eee;
      background-color: #444;
    }
  }

  .tiny-menu {
    width: 20px;
  }
}

#box-user-list {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  div {
    float: left;
  }

  .product-body {
    width: calc(100% - 10px);
    height: 330px;
    overflow: {
      x: hidden;
      y: scroll;
    }

    .item {
      display: flex;

      &:hover {
        cursor: pointer;
        background-color: #f4f4f4;
      }

      .image {
        margin: 1px;
      }
      .name {
        padding: 2px 0px 0px 3px;
        width: 122px;
        font-size: 13px;
      }
    }
  }
}

#box-room-list {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  div {
    float: left;
  }

  .product-body {
    width: calc(100% - 10px);
    height: 330px;
    overflow: {
      x: hidden;
      y: scroll;
    }

    .item {
      padding: 5px;
      border-radius: 10px;
      margin: 3px;
      width: 364px;
      height: 64px;
      box-shadow: 0px 1px 1px #777;
      cursor: pointer;
      transition: all 300ms ease;

      &.create {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        background-image: url("/media/img/kkutu/createroom.png");
      }

      .id {
        padding-top: 18px;
        border-right: 1px solid #ccc;
        margin-right: 4px;
        width: 49px;
        height: 46px;
        font-size: 24px;
      }

      .title {
        padding-top: 4px;
        width: 270px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .limit {
        padding-top: 7px;
        width: 39px;
        height: 17px;
        text-align: center;
      }

      .game-settings {
        width: 270px;

        .mode {
          padding-top: 5px;
          width: 270px;
        }

        .round {
          padding-top: 5px;
          margin-right: 10px;
        }

        .time {
          padding-top: 5px;
        }
      }

      .lock {
        padding-top: 8px;
        width: 39px;
        text-align: center;
        font-size: 24px;
      }

      &.waiting {
        background: url("/media/img/kkutu/waiting.png");
      }
      &.gaming {
        background: url("/media/img/kkutu/gaming.png");

        .id {
          border-color: #cc9999;
        }
      }

      &.admin {
        &.waiting {
          background: url("/media/img/kkutu/adminwaiting.png");
        }
        &.gaming {
          background: url("/media/img/kkutu/admingaming.png");
        }
      }

      &.create {
        background: url("/media/img/kkutu/createroom.png");
      }
    }
  }
}

#box-search-room {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  .product-body {
    width: calc(100% - 10px);
    height: 330px;

    .search-form {
      display: flex;
      flex-direction: column;

      .options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 13px;

        .item-wrapper {
          display: flex;
          flex-direction: row;
          width: 390px;
          margin: 3px 0px;

          input {
            width: 240px;
          }
          select {
            width: 250px;
          }

          .range {
            display: flex;
            flex-direction: row;
            width: 250px;
          }
        }

        &-rules {
          .checkbox-wrapper {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            margin: 4px 0;

            label {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    .result-list {
      width: calc(100% - 10px);
      height: 230px;
      overflow: {
        x: hidden;
        y: scroll;
      }

      div {
        float: left;
      }

      .item {
        padding: 5px;
        border-radius: 10px;
        margin: 3px;
        width: 364px;
        height: 64px;
        box-shadow: 0px 1px 1px #777;
        cursor: pointer;
        transition: all 300ms ease;

        .id {
          padding-top: 18px;
          border-right: 1px solid #ccc;
          margin-right: 4px;
          width: 49px;
          height: 46px;
          font-size: 24px;
        }

        .title {
          padding-top: 4px;
          width: 270px;
          height: 20px;
          font-size: 16px;
          font-weight: bold;
        }

        .limit {
          padding-top: 7px;
          width: 39px;
          height: 17px;
          text-align: center;
        }

        .game-settings {
          width: 270px;

          .mode {
            padding-top: 5px;
            width: 270px;
          }

          .round {
            padding-top: 5px;
            margin-right: 10px;
          }

          .time {
            padding-top: 5px;
          }
        }

        .lock {
          padding-top: 8px;
          width: 39px;
          text-align: center;
          font-size: 24px;
        }

        &.waiting {
          background: url("/media/img/kkutu/waiting.png");
        }
        &.gaming {
          background: url("/media/img/kkutu/gaming.png");

          .id {
            border-color: #cc9999;
          }
        }

        &.admin {
          &.waiting {
            background: url("/media/img/kkutu/adminwaiting.png");
          }
          &.gaming {
            background: url("/media/img/kkutu/admingaming.png");
          }
        }
      }
    }
  }
}

#box-shop {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  div {
    float: left;
  }

  .product-body {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

#box-room {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  .product-title {
    height: 12px;

    h5 {
      float: left;
    }
  }
}

#box-profile {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  cursor: pointer;

  div {
    float: left;
  }

  .product-body {
    .stat {
      padding-left: 5px;
      width: 105px;

      .level {
        float: left;
        margin: 1px;
        width: 18px;
        height: 18px;
      }
      .name {
        padding-top: 3px;
        padding-left: 4px;
        width: 76px;
        height: 17px;
        font-weight: bold;
      }
      .record {
        margin-top: 3px;
        width: 100%;
      }
      .money {
        margin-top: 3px;
        width: 100%;
      }
    }
    .name {
      padding-top: 3px;
      padding-left: 4px;
      width: 76px;
      height: 17px;
      font-weight: bold;
    }
    .level {
      margin: 12px 0px;
      width: 190px;
      font-size: 15px;
      text-align: center;
    }
  }
}

#box-chat {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  .list {
    height: 120px;
    width: 100%;
    overflow-y: scroll;

    hr {
      padding-top: 0px;
      border: 0px;
      border-bottom: 1px dashed #999;
      margin: 2px 0px;
    }

    .item {
      float: left;
      padding: 1px 0px;
      margin: 1px 0px;
      width: 100%;
      overflow: hidden;

      &.notice {
        background-color: #ccc;
      }

      .head {
        float: left;
        padding-right: 4px;
        margin-right: 5px;
        width: 100px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: #fff;
        }
      }
      .head-notice {
        color: #1767ca;
      }

      .content {
        float: left;
        width: calc(100% - 190px);
        min-height: 14px;
      }

      .timestamp {
        float: left;
        padding-top: 2px;
        width: 70px;
        font-size: 11px;
        text-align: right;
        color: #999;
      }
    }
  }

  .input-chat {
    float: left;
    border: {
      right: none;
      top-right-radius: 0px;
      bottom-right-radius: 0px;
    }
    margin-top: 5px;
    width: calc(100% - 82px);
    height: 20px;
  }

  .button-send {
    float: left;
    border: {
      left: none;
      top-left-radius: 0px;
      bottom-left-radius: 0px;
    }
    margin-top: 5px;
    width: 60px;
    height: 20px;
  }
}

#box-room {
  width: 1000px;
  height: 360px;

  .product-title {
    height: 12px;
    position: fixed;

    h5 {
      float: left;
    }

    .modified {
      animation: ModifiedBlink 1s ease 3;
    }

    .id {
      width: 35px;
      text-align: center;
    }

    .title {
      font-weight: bold;
      width: 450px;
    }

    .mode {
      margin-right: 5px;
      width: 340px;
      text-align: right;
    }

    .limit {
      width: 60px;
      text-align: center;
    }

    .round {
      width: 60px;
      text-align: center;
    }

    .roundTime {
      width: 40px;
      text-align: center;
    }
  }

  .product-body {
    .user-list {
      margin-top: 20px;

      .user {
        float: left;
        padding: 3px;
        border-radius: 10px;
        margin: 3px;
        width: 224px;
        height: 151px;
        box-shadow: 0px 1px 1px #777777;
        background-color: #e4e4e4;

        &:hover {
          cursor: pointer;
          background-color: #eeeeee;
        }

        div {
          float: left;
        }

        .image {
          margin: 3px;
          width: 100px;
          height: 100px;
        }

        .stat {
          padding: 3px;
          width: 112px;
          height: 100px;
          font-size: 15px;

          div {
            padding-left: 2px;
            margin-bottom: 4px;
            font-weight: bold;
            float: right;
          }

          .master {
            color: #e14e2d;
          }
          .spectator {
            color: #8160ff;
          }
          .ready {
            color: #3a8bdf;
          }
        }

        .title {
          padding: 6px 4px;
          width: 216px;
          font-size: 15px;

          .level {
            float: left;
            width: 30px;
            height: 30px;
          }

          .nickname {
            padding: 6px 0px 0px 8px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#box-game {
  width: 100%;
  height: 410px;
  background-image: url("/media/img/kkutu/gamebg.png");

  .product-title {
    height: 12px;

    h5 {
      float: left;
    }
  }

  div {
    float: left;
  }

  .product-body {
    padding-top: 0px;
  }
}

.product {
  float: left;
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 0px;
  color: #111;
  box-shadow: 0px 2px 1px #ddd;
  background-color: #eee;

  .product-title {
    border-radius: 5px;
    color: #222;
    background-color: #ddd;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;

    i {
      color: #111;
    }
  }

  .product-body {
    font-size: 12px;
    padding: 5px 5px 0px 5px;
  }
}

.dialog {
  &-settings {
    .body {
      display: flex;
      flex-direction: column;
      font-size: 13px;

      select {
        width: 187px;
      }

      .checkbox-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        label {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-community {
    .body {
      width: 300px;
      height: 300px;
      overflow: {
        x: hidden;
        y: scroll;
      }

      .item {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &.request {
          background-color: rgba(0, 255, 0, 0.5);
        }

        .left {
          display: flex;
          align-items: center;

          .image {
            margin: 3px;
          }
        }

        .right {
          display: flex;
          align-items: center;

          * {
            float: right;
            margin-right: 5px;
          }
        }
      }
    }
  }

  &-createRoom {
    .body {
      display: flex;
      flex-direction: column;
      width: 350px;
      font-size: 13px;

      .item-wrapper {
        margin: 3px 0px;

        input[type="text"],
        input[type="password"],
        input[type="number"] {
          width: 187px;
        }
        select {
          width: 199px;
        }
      }

      .checkbox-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        label {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-roomSettings {
    .body {
      display: flex;
      flex-direction: column;
      width: 350px;
      font-size: 13px;

      .item-wrapper {
        margin: 3px 0px;

        input[type="text"],
        input[type="password"],
        input[type="number"] {
          width: 187px;
        }
        select {
          width: 199px;
        }
      }

      .checkbox-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        label {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-profile {
    .body {
      width: 390px;
      height: 465px;

      .profile {
        display: flex;

        .item {
          margin: 3px 2px;
          width: 300px;

          &.gauge-wrapper {
            display: flex;
            justify-content: center;
          }

          .image {
            margin-right: 3px;
          }

          .nickname {
            font-weight: bold;
            line-height: 20px;
          }

          .level {
            display: flex;
            float: left;
            align-items: center;
            font-size: 13px;
          }

          .score {
            float: right;
            font-size: 11px;
            color: #444;
          }

          .gauge-text {
            font-size: 11px;
          }
        }
      }
    }
  }

  &-whisper {
    .body {
      display: flex;
      flex-direction: column-reverse;
      width: 400px;
      height: 300px;
      overflow: {
        x: hidden;
        y: scroll;
      }

      .item {
        width: fit-content;

        .sender {
          font-size: 10pt;
        }

        .content {
          display: block;
          font-family: inherit;
          font-size: 10pt;
          box-sizing: inherit;
          padding: 5px;
          border: 1px solid #aaa;
          border-radius: 10px;
          background-color: #fff;
          transition: all 200ms ease;
        }

        &.left {
          margin-left: 0px;
        }
        &.right {
          margin-left: auto;
        }
      }
    }

    .footer {
      .input-whisper {
        float: left;
        border: {
          right: none;
          top-right-radius: 0px;
          bottom-right-radius: 0px;
        }
        margin-top: 5px;
        width: calc(100% - 82px);
        height: 20px;
      }

      .button-send {
        float: left;
        border: {
          left: none;
          top-left-radius: 0px;
          bottom-left-radius: 0px;
        }
        margin-top: 5px;
        width: 60px;
        height: 20px;
      }
    }
  }

  &-invite {
    .body {
      width: 300px;
      height: 300px;
      overflow: {
        x: hidden;
        y: scroll;
      }

      .item {
        display: flex;
        width: 100%;
        align-items: center;

        &:hover {
          background-color: #ddd;
        }

        .image {
          margin: 3px;
        }
      }
    }
  }
}

.moremi {
  width: 80px;
  height: 80px;
  position: relative;

  * {
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
  }

  .moremi-handRight {
    transform: scaleX(-1);
  }
}

.gauge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: -5px 0px;
  overflow: hidden;
  background-color: #333333;

  .graph-bar {
    background-image: url("/media/img/kkutu/scorebar.png");
  }

  .gauge-text {
    position: absolute;
  }
  .bar-text {
    color: #eee;
    text-align: center;
    text-shadow: 0px 1px 1px #141414;
  }
}

.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes RoundEffect {
  0% {
    font-size: 16px;
    color: #ffff44;
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    font-size: 12px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes ReadyBlink {
  0% {
    margin-top: 0px;
    height: 20px;
  }
  50% {
    margin-top: -5px;
    height: 25px;
  }
  100% {
    margin-top: 0px;
    height: 20px;
  }
}
@keyframes CurrentBlink {
  0% {
    border-color: #3eff3e;
  }
  50% {
    border-color: #009000;
  }
  100% {
    border-color: #3eff3e;
  }
}
@keyframes FailBlink {
  0% {
    text-decoration: line-through;
  }
  25% {
    text-decoration: inherit;
  }
  50% {
    text-decoration: line-through;
  }
  75% {
    text-decoration: inherit;
  }
}
@keyframes ModifiedBlink {
  0% {
    background-color: #ffff44;
  }
  100% {
    background-color: #dddddd;
  }
}
@keyframes LvUpBlink {
  0% {
    margin-top: 6px;
  }
  100% {
    margin-top: 1px;
  }
}
@keyframes ScoreGoing {
  0% {
    margin-top: -80px;
    font-size: 24px;
    opacity: 1;
  }
  10% {
    margin-top: -95px;
    font-size: 36px;
    opacity: 0.95;
  }
  100% {
    margin-top: -25px;
    font-size: 20px;
    opacity: 0.1;
  }
}
