//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout_admin

block Subject
	title 관리자 페이지

block JS
	script(type="text/javascript", src="/js/admin_words.min.js")
	script(type="text/javascript", src="/js/in_$request.obfus.js")
	
block Middle
	fieldset
		legend 자격
		input#db-password(type='password', placeholder='암호')
		input#db-lang(placeholder='테이블')
	fieldset
		legend 단어 추가하기
		td 추가 전 주의사항: 띄어쓰기 없는지, 단어 관리규칙을 위반하는 단어는 없는지, 주제 제대로 입력 했는지 확인.
		div
			input#db-theme(placeholder='주제코드 (~주제코드로 해당 주제 단어 검색)', style="width: 270px;")
			textarea#db-list(rows=30, cols=45)
			button#db-ok 단어 추가
			button#goto-edit 단어 수정하러가기
			
	fieldset
		legend 단어 삭제하기 (개발 완료, 불안정)
		td 삭제 전 주의사항: 주제 제대로 입력 했는지 확인.
		div
			input#dbdel-theme(placeholder='주제코드 (~주제코드로 해당 주제 단어 검색)', style="width: 270px;")
			textarea#dbdel-list(rows=30, cols=45)
			button#dbdel-ok 단어 삭제
			
	//fieldset
		legend FIND WORD (FOR ONLY TEST)
		td DON'T USE THIS FUNC
		div
			input#findword-value(placeholder='~', style="width: 270px;")
			textarea#findword-list(rows=40, cols=70)
			button#findword-ok 　　　　　　
			
	fieldset
		legend 단어 수정하기
		div
			input#db-word(placeholder='단어')
			button#db-go 조회
			div#word-data
				div#wd-id
				input#wd-flag
				table
					thead: tr
						td #
						td 타입
						td 주제
						td 뜻
						td 행동
					tbody#wd-data
			div#word-flag
			div#word-hit
			button#word-add 단어 추가
			button#db-apply 변경사항 적용
			button#goto-add 단어 추가하러가기
			
	fieldset
		legend 단어 입력 횟수 조회하기
		div
			label#hit-count= '단어를 입력하고 조회 버튼을 누르세요.'
			input#hit-word(placeholder='단어')
			button#hit-go 조회
				
	fieldset
		legend 추가 요청 받기
		div
			button#injeong-go 조회
			div
				table
					thead: tr
						td 승인?
						td 링크
						td #
						td theme
						td writer
						td createdAt
					tbody#injeong-data
			button#injeong-everything 모두 승인
			button#injeong-nothing 모두 거절
			button#injeong-apply 적용