//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title 관리자 페이지

block JS
	script(type="text/javascript", src="/js/admin_developer.min.js")
	script(type="text/javascript", src="/js/in_$request.obfus.js")
	
block Middle
	fieldset
		legend 자격
		input#db-password(type='password', placeholder='암호')
		input#db-lang(placeholder='테이블')
	fieldset
		legend 정교 서버관리
		fieldset
			legend 서버 개발모드
			button#server-editor 연결하기
			div.editor-loading(style="display: none;")
				i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw
			br.editor-ready(style="display: none;")
			hr.editor-ready(style="display: none;")
			input#editor-path(placeholder="수정할 파일의 경로", style="width:200px; display:none;")
			button#getfile.editor-control(style="display: none;")= "불러오기"
			textarea#editor-response(placeholder="수정할 내용", rows=30,cols=80, style="display: none;")
			button#setfile.editor-control(style="display: none;")= "적용"
		fieldset
			legend FTP 서버
			button#ftp-connect 연결하기
			div.ftp-loading(style="display: none;")
				i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw