//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
block Subject
	title 관리자 페이지 - 업로드
	
block JS
	script(type="text/javascript", src="/js/upload.min.js")
	script(type="text/javascript", src="/js/in_$request.obfus.js")

block Middle
	doctype html
	html
		head
			meta(charset='utf-8')
		body
		form(action='upload' method='post' enctype="multipart/form-data")
			input(type='file' name='userfile')
			input(type='submit')