//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
	
block Middle
	head
		title BF끄투 - 동시 접속 과다
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/server_status.obfus.js')
		link(rel='stylesheet', href='/css/in_error.css')
		div#a
			h1 503 Service Unavailable
			label 동시 접속 요청이 너무 많아 서버 접속이 정지되었습니다.
			p
			a(href='/') 다시 시도