@import "../@global/global.scss";

#stage {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2 {
      margin-top: 20px;
    }

    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;

      .dependency {
        display: flex;
        flex-direction: row;
        width: 300px;

        .name {
          width: 200px;
        }
        .version {
          width: 100px;
        }
      }
    }
  }
}

#background {
  display: none;
}

