@import "../@global/global.scss";

main {
  height: 100%;
}

#stage {
  height: 100%;

  #main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;

    aside {
      .menu {
        height: 100%;
        border-right: 1px solid #808080;
        margin-left: 5%;

        .item {
          .active {
            font-weight: bold;
            border: {
              top: {
                color: lightblue;
              }
              bottom: {
                color: lightblue;
              }
              left: {
                color: lightblue;
              }
            }
          }

          .title {
            display: flex;
            align-items: center;
            height: 40px;
            cursor: pointer;
          }

          ul {
            margin-left: 5%;
          }
        }
      }
    }

    .body {
      padding: 10px;
      overflow-y: scroll;

      article {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .checkbox {
        display: flex;
        flex-direction: row;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
      }

      .page {
        &-main {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20pt;
          height: 100%;
        }

        &-owner {
          &.appointment {
            .query {
              display: flex;
              flex-direction: row;
            }

            .checkbox-group {
              display: flex;
              flex-direction: row;
            }
          }
        }

        &-databaseWord {
          .word-editor {
            input,
            select {
              height: fit-content;
            }

            .themes {
              .theme-item {
                display: grid;
                grid-template-columns: 1fr 3fr;

                &.title {
                  text-align: center;
                }

                .means {
                  .mean-item {
                    display: grid;
                    grid-template-columns: 95% 5%;
                  }
                }
              }
            }
          }

          &.insert {
            .form-fromList {
              ul {
                li {
                  display: flex;
                  flex-direction: row;

                  input {
                    width: 100%;
                  }
                }
              }
            }
          }

          &.query {
            .form-byData {
              .query {
                display: flex;
                flex-direction: row;
              }

              .result {
                height: 600px;

                .result-list {
                  height: 100%;
                  overflow-y: scroll;
                }

                .result-item {
                  display: grid;
                  grid-template-columns: 10% 30% 60%;

                  &.title {
                    text-align: center;
                  }
                }
              }
            }

            .form-update {
              .query {
                display: flex;
                flex-direction: row;
              }
            }
          }

          &.delete {
            .form-byData {
              div {
                display: flex;
                flex-direction: row;

                button {
                  font-weight: bold;
                  color: red;
                }
              }
            }
          }
        }
      }
    }
  }
}

#background {
  display: none;
}

